Data Fetch

In [149]:
import requests 
import json
import pandas as pd
import numpy as np

In [67]:
response = requests.get('https://api.opendatanetwork.com/data/v1/values?app_token=cQovpGcdUT1CSzgYk0KPYdAI0&describe=true&forecast=5&format=google&variable=demographics.population.count&entity_id=1600000US0667000')

In [68]:
response.status_code

200

In [74]:
sf_census = response.json()

In [105]:
sf_census['data']['rows']

[{'c': [{'v': 2009}, {'v': 797271, 'f': '797,271 (Measured)'}, {'v': True}]},
 {'c': [{'v': 2010}, {'v': 789172, 'f': '789,172 (Measured)'}, {'v': True}]},
 {'c': [{'v': 2011}, {'v': 797983, 'f': '797,983 (Measured)'}, {'v': True}]},
 {'c': [{'v': 2012}, {'v': 807755, 'f': '807,755 (Measured)'}, {'v': True}]},
 {'c': [{'v': 2013}, {'v': 817501, 'f': '817,501 (Measured)'}, {'v': True}]},
 {'c': [{'v': 2014}, {'v': 829072, 'f': '829,072 (Measured)'}, {'v': True}]},
 {'c': [{'v': 2015}, {'v': 840763, 'f': '840,763 (Measured)'}, {'v': True}]},
 {'c': [{'v': 2016}, {'v': 850282, 'f': '850,282 (Measured)'}, {'v': True}]},
 {'c': [{'v': 2017}, {'v': 864263, 'f': '864,263 (Measured)'}, {'v': True}]},
 {'c': [{'v': 2018}, {'v': 870044, 'f': '870,044 (Measured)'}, {'v': True}]},
 {'c': [{'v': 2019},
   {'v': 878129.8888888889, 'f': '878,130 (Forecasted)'},
   {'v': False}]},
 {'c': [{'v': 2020},
   {'v': 886215.7777777778, 'f': '886,216 (Forecasted)'},
   {'v': False}]},
 {'c': [{'v': 2021},
   {'v': 894301.6666666666, 'f': '894,302 (Forecasted)'},
   {'v': False}]},
 {'c': [{'v': 2022},
   {'v': 902387.5555555555, 'f': '902,388 (Forecasted)'},
   {'v': False}]},
 {'c': [{'v': 2023},
   {'v': 910473.4444444445, 'f': '910,473 (Forecasted)'},
   {'v': False}]}]

In [141]:
census_df = pd.DataFrame.from_dict(sf_census['data']['rows'])

In [129]:
year = census_df['c'][0][0]['v'] # gets year
population = census_df['c'][0][1]['v'] # gets population

In [155]:
years = [] # each year 
pops = [] # each population

data = []
for i in range(0,10):
    
    years.append(census_df['c'][i][0]['v'])
    pops.append(census_df['c'][i][1]['v'])
    data.append([years[i], pops[i]])

In [156]:
data

[[2009, 797271],
 [2010, 789172],
 [2011, 797983],
 [2012, 807755],
 [2013, 817501],
 [2014, 829072],
 [2015, 840763],
 [2016, 850282],
 [2017, 864263],
 [2018, 870044]]

In [157]:
df = pd.DataFrame(data, columns=['year', 'population'])

In [158]:
df

   year  population
0  2009      797271
1  2010      789172
2  2011      797983
3  2012      807755
4  2013      817501
5  2014      829072
6  2015      840763
7  2016      850282
8  2017      864263
9  2018      870044

In [159]:
df.to_csv('sf_population_count.csv')