In [1]:
import os
import numpy as np
import pandas as pd
import json
import requests

In [8]:
oakland_budget = pd.read_csv('data/oakland_budget_history_depts.csv')
police_budget = oakland_budget[oakland_budget['department'] == 'Police']
police_budget.sort_values('fiscal_year_range', inplace=True)

<ipython-input-8-85e30147f966>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police_budget.sort_values('fiscal_year_range', inplace=True)

In [9]:
police_budget = police_budget[police_budget['budget_type'] == 1].reset_index()
year = pd.DataFrame({'year': [2013, 2014, 2015, 2016]})
police_budget = police_budget.merge(year, left_index=True, right_index=True)

In [10]:
police_budget = police_budget[['total', 'general_fund', 'year']]

In [11]:
oakland_police_budget = police_budget.to_json(orient='records')[1:-1].replace('},{', '} {')

with open('oak_police_budget_data.json', 'w') as f:
    json.dump(oakland_police_budget, f)

In [3]:
#Sworn office stats
oakland_officers = pd.read_csv('data/Oakland Sworn Officer Stats - Sheet1.csv')

In [6]:
oakland_officers_json = oakland_officers.to_json(orient='records')[1:-1].replace('},{', '} {')

with open('oakland_sworn_ftes.json', 'w') as f:
    json.dump(oakland_officers_json, f)

In [14]:
uof_l1 = pd.read_csv('data/level_1_uof.csv')
uof_l2 = pd.read_csv('data/level_2_uof.csv')
uof_l3 = pd.read_csv('data/level_3_uof.csv')
uof_l4 = pd.read_csv('data/level_4_uof.csv')

In [17]:
l1_json = uof_l1.to_json(orient='records')[1:-1].replace('},{', '} {')
l2_json = uof_l2.to_json(orient='records')[1:-1].replace('},{', '} {')
l3_json = uof_l3.to_json(orient='records')[1:-1].replace('},{', '} {')
l4_json = uof_l4.to_json(orient='records')[1:-1].replace('},{', '} {')

In [28]:
with open('oakland_l1.json', 'w') as f:
    json.dump(l1_json, f)

with open('oakland_l2.json', 'w') as f:
    json.dump(l2_json, f)
     
with open('oakland_l3.json', 'w') as f:
    json.dump(l3_json, f)
    
with open('oakland_l4.json', 'w') as f:
    json.dump(l4_json, f)

In [5]:
oakland_ethnicity = pd.read_csv('data/staffing_rep_2017.csv')
oakland_ethnicity = oakland_ethnicity[0:4]
oakland_ethnicity['staff_proportion'] = (oakland_ethnicity['Number of Sworn Staff'] / oakland_ethnicity['Number of Sworn Staff'].sum()) * 100
oakland_ethnicity['population_proportion'] = (oakland_ethnicity['Population of Oakland'] / oakland_ethnicity['Population of Oakland'].sum()) * 100
oakland_ethnicity

,Race/Ethnicity,Number of Sworn Staff,Population of Oakland,"Rate of Sworn Staff per 100,000 people in Oakland",Year,staff_proportion,population_proportion
0,African American,126,96981,129.9,2017,18.260870,24.834574
1,Asian,97,67535,143.6,2017,14.057971,17.294140
2,Latino,181,109762,164.9,2017,26.231884,28.107491
3,White,286,116230,246.1,2017,41.449275,29.763795

In [37]:
oakland_ethnicity_rates = oakland_ethnicity[['Race/Ethnicity', 'staff_proportion', 'population_proportion']]
oakland_ethnicity_rates.set_index('Race/Ethnicity', inplace=True)
oakland_ethnicity_rates.reset_index(inplace=True)
oakland_ethnicity_rates = oakland_ethnicity_rates.melt(id_vars='Race/Ethnicity')
oakland_ethnicity_rates

     Race/Ethnicity               variable      value
0  African American       staff_proportion  18.260870
1             Asian       staff_proportion  14.057971
2            Latino       staff_proportion  26.231884
3             White       staff_proportion  41.449275
4  African American  population_proportion  24.834574
5             Asian  population_proportion  17.294140
6            Latino  population_proportion  28.107491
7             White  population_proportion  29.763795

In [36]:
oakland_ethnicity_json = oakland_ethnicity_rates.to_json(orient='records')[1:-1].replace('},{', '} {')
oakland_ethnicity_json

'{"Race\\/Ethnicity":"African American","variable":"staff_proportion","value":18.2608695652} {"Race\\/Ethnicity":"Asian","variable":"staff_proportion","value":14.0579710145} {"Race\\/Ethnicity":"Latino","variable":"staff_proportion","value":26.231884058} {"Race\\/Ethnicity":"White","variable":"staff_proportion","value":41.4492753623} {"Race\\/Ethnicity":"African American","variable":"population_proportion","value":24.8345744517} {"Race\\/Ethnicity":"Asian","variable":"population_proportion","value":17.2941399408} {"Race\\/Ethnicity":"Latino","variable":"population_proportion","value":28.1074907556} {"Race\\/Ethnicity":"White","variable":"population_proportion","value":29.7637948518}'

In [39]:
with open('oakland_ethnicity.json', 'w') as f:
    json.dump(oakland_ethnicity_json, f)

In [6]:
stops = pd.read_csv('data/stops_by_ethnic_2014-2018.csv')

In [8]:
stops

        race  year  stops
0      black  2014  19077
1      black  2015  22500
2      black  2016  20032
3      black  2017  19185
4      black  2018  10874
5      asian  2014   2316
6      asian  2015   2483
7      asian  2016   1648
8      asian  2017   1553
9      asian  2018   1371
10  hispanic  2014   6101
11  hispanic  2015   7496
12  hispanic  2016   6590
13  hispanic  2017   6855
14  hispanic  2018   4483
15     white  2014   4615
16     white  2015   4328
17     white  2016   3256
18     white  2017   2805
19     white  2018   2277
20     other  2014   1142
21     other  2015   1148
22     other  2016   1043
23     other  2017   1130
24     other  2018    895

In [20]:
stops_json = stops.pivot(index='year', columns='race', values='stops').reset_index().to_json(orient='records')[1:-1].replace('},{', '} {')

In [22]:
with open('oakland_stops_ethnicity.json', 'w') as f:
    json.dump(stops_json, f)