In [1]:
import os
import pandas as pd
import numpy as np
import json

sf_police_budget_data = pd.read_csv('./sanfranciscodataset/plot_data/total_police_spending.csv')

FileNotFoundError: [Errno 2] No such file or directory: './sanfranciscodataset/plot_data/total_police_spending.csv'

In [ ]:
sf_police_budget_data = sf_police_budget_data.to_json(orient='records')[1:-1].replace('},{', '} {')

In [ ]:

with open('sf_police_budget_data.json', 'w') as f:
    json.dump(sf_police_budget_data, f)

In [ ]:
#SF incidents data
incidents = pd.read_csv('./sanfranciscodataset/plot_data/yearly_reported_incidents.csv')

In [ ]:
sf_incidents_json = incidents.to_json(orient='records')[1:-1].replace('},{', '} {')

In [ ]:
with open('sf_incidents.json', 'w') as f:
    json.dump(sf_incidents_json, f)

In [ ]:
#SF UOF
sf_force = pd.read_csv('./sanfranciscodataset/plot_data/sf_police_uof.csv')

In [ ]:
sf_force_json = sf_force.to_json(orient='records')[1:-1].replace('},{', '} {').replace('} {', '}, {')

In [2]:
#Spending data
df = pd.read_csv('Spending_Revenue_cleaned.csv', sep=',')

df_police = df[df['Department'] == 'POL Police']
years = df['Fiscal Year'].unique()
years
df_year = []
for index, year in enumerate(df_police['Fiscal Year'].unique()):
    df_year.append( df[df['Fiscal Year'] == year])
    
program_sums = []
for i in range(19):
    program_sums.append( pd.DataFrame(df_year[i].groupby('Program').Amount.agg('sum')) )
    col_year = years[i]
    program_sums[i].columns = [col_year]

important_programs = ['Patrol', 'Operations And Administration', 'Special Operations',
                      'SFPD-Recruitment And Examination Program', 'SFPD Training']
df_agg_programs=pd.concat(program_sums, axis=1)
df_agg_programs.fillna(0, inplace=True)
df_agg_programs = df_agg_programs.loc[important_programs]
df_agg_programs = df_agg_programs.T
df_agg_programs = df_agg_programs.reset_index()
df_agg_programs.columns = ['Year', 'Patrol', 'Operations And Administration', 'Special Operations',
                      'SFPD-Recruitment And Examination Program', 'SFPD Training']
df_agg_programs

,Year,Patrol,Operations And Administration,Special Operations,SFPD-Recruitment And Examination Program,SFPD Training
0,1999,1.566657e+08,4.110268e+07,151017.92,1292994.89,1490869.85
1,2000,1.763137e+08,5.329274e+07,305729.53,1544261.40,1380405.97
2,2001,1.867238e+08,5.817293e+07,163570.07,1735868.52,3000961.24
3,2002,1.947401e+08,5.272834e+07,291461.02,1344727.58,2465499.89
4,2003,1.904606e+08,4.906499e+07,9285482.67,1383969.78,1099537.23
5,2004,1.806452e+08,5.071372e+07,10083238.54,991255.91,1048983.57
6,2005,1.807123e+08,7.997473e+07,0.00,0.00,731208.16
7,2006,1.933768e+08,9.016354e+07,0.00,0.00,223558.12
8,2007,2.041555e+08,9.958305e+07,0.00,0.00,1261131.59
9,2008,2.310162e+08,1.036423e+08,0.00,0.00,855390.40
10,2009,2.442172e+08,1.014032e+08,0.00,0.00,581055.86
11,2010,2.669914e+08,1.048033e+08,0.00,0.00,665224.37
12,2011,2.702060e+08,1.082952e+08,0.00,0.00,798467.86
13,2012,2.858934e+08,1.115538e+08,0.00,0.00,921299.49
14,2013,3.067614e+08,1.155002e+08,0.00,0.00,1089277.36
15,2014,3.032134e+08,1.226672e+08,0.00,0.00,1007314.03
16,2015,3.045171e+08,1.339499e+08,0.00,0.00,951422.94
17,2016,3.158778e+08,1.464188e+08,0.00,0.00,1662665.82
18,2017,3.243342e+08,1.549274e+08,0.00,0.00,180568.82

In [3]:
sf_police_budget_detail = df_agg_programs.to_json(orient='records')[1:-1].replace('},{', '} {').replace('} {', '}, {')
sf_police_budget_detail

'{"Year":1999,"Patrol":156665669.1800000072,"Operations And Administration":41102684.790000014,"Special Operations":151017.92,"SFPD-Recruitment And Examination Program":1292994.8900000004,"SFPD Training":1490869.8500000001}, {"Year":2000,"Patrol":176313685.9399999976,"Operations And Administration":53292740.0099999681,"Special Operations":305729.53,"SFPD-Recruitment And Examination Program":1544261.3999999999,"SFPD Training":1380405.97}, {"Year":2001,"Patrol":186723778.8900001049,"Operations And Administration":58172934.3600000069,"Special Operations":163570.07,"SFPD-Recruitment And Examination Program":1735868.5200000003,"SFPD Training":3000961.2400000002}, {"Year":2002,"Patrol":194740096.1700000465,"Operations And Administration":52728335.9700000063,"Special Operations":291461.02,"SFPD-Recruitment And Examination Program":1344727.5800000001,"SFPD Training":2465499.8900000001}, {"Year":2003,"Patrol":190460560.4300001264,"Operations And Administration":49064986.159999989,"Special Operations":9285482.6699999999,"SFPD-Recruitment And Examination Program":1383969.78,"SFPD Training":1099537.23}, {"Year":2004,"Patrol":180645205.4499999583,"Operations And Administration":50713715.9300000072,"Special Operations":10083238.540000001,"SFPD-Recruitment And Examination Program":991255.9100000001,"SFPD Training":1048983.5699999998}, {"Year":2005,"Patrol":180712265.7400000989,"Operations And Administration":79974729.0199999809,"Special Operations":0.0,"SFPD-Recruitment And Examination Program":0.0,"SFPD Training":731208.1599999999}, {"Year":2006,"Patrol":193376763.9100000262,"Operations And Administration":90163535.5500000417,"Special Operations":0.0,"SFPD-Recruitment And Examination Program":0.0,"SFPD Training":223558.12}, {"Year":2007,"Patrol":204155457.5000000596,"Operations And Administration":99583045.3999999762,"Special Operations":0.0,"SFPD-Recruitment And Examination Program":0.0,"SFPD Training":1261131.5900000003}, {"Year":2008,"Patrol":231016197.8899999857,"Operations And Administration":103642314.4899999946,"Special Operations":0.0,"SFPD-Recruitment And Examination Program":0.0,"SFPD Training":855390.4}, {"Year":2009,"Patrol":244217222.9899999797,"Operations And Administration":101403172.880000025,"Special Operations":0.0,"SFPD-Recruitment And Examination Program":0.0,"SFPD Training":581055.86}, {"Year":2010,"Patrol":266991391.0800000429,"Operations And Administration":104803271.2099999934,"Special Operations":0.0,"SFPD-Recruitment And Examination Program":0.0,"SFPD Training":665224.37}, {"Year":2011,"Patrol":270205978.9200000167,"Operations And Administration":108295208.3799999952,"Special Operations":0.0,"SFPD-Recruitment And Examination Program":0.0,"SFPD Training":798467.8600000001}, {"Year":2012,"Patrol":285893439.5199999809,"Operations And Administration":111553771.2500000149,"Special Operations":0.0,"SFPD-Recruitment And Examination Program":0.0,"SFPD Training":921299.49}, {"Year":2013,"Patrol":306761374.0599999428,"Operations And Administration":115500193.3599999696,"Special Operations":0.0,"SFPD-Recruitment And Examination Program":0.0,"SFPD Training":1089277.3600000001}, {"Year":2014,"Patrol":303213422.8500001431,"Operations And Administration":122667218.9499999583,"Special Operations":0.0,"SFPD-Recruitment And Examination Program":0.0,"SFPD Training":1007314.03}, {"Year":2015,"Patrol":304517083.8599999547,"Operations And Administration":133949872.6999999434,"Special Operations":0.0,"SFPD-Recruitment And Examination Program":0.0,"SFPD Training":951422.9399999999}, {"Year":2016,"Patrol":315877778.2900003195,"Operations And Administration":146418835.5599999428,"Special Operations":0.0,"SFPD-Recruitment And Examination Program":0.0,"SFPD Training":1662665.8200000001}, {"Year":2017,"Patrol":324334234.1099998951,"Operations And Administration":154927414.7400000095,"Special Operations":0.0,"SFPD-Recruitment And Examination Program":0.0,"SFPD Training":180568.82}'

In [4]:
with open('sf_police_budget_detail.json', 'w') as f:
    json.dump(sf_police_budget_detail, f)

In [3]:
#Population Share
pop_2010 = pd.read_csv('Intercensal_2000-2010_Total_Age-Race.xls - Total.csv', parse_dates=True)
pop_2020 = pd.read_csv('P3-Excel-Orange-YubaCos.xlsx - Orange to Yuba.csv')

In [4]:
pop_2010_long = pop_2010.melt(id_vars=['CountyCode', 'CountyName', 'RaceCode', 'RaceName', 'Gender', 'Age'], var_name='year', value_name='population')
pop_2010_long = pop_2010_long.loc[(pop_2010_long['Gender'] == 'Total') & (pop_2010_long['CountyCode'] <= 58), ['CountyName', 'RaceName', 'year', 'population']]
pop_2010_long

       CountyName    RaceName      year  population
0         Alameda       White  4/1/2000        5575
1         Alameda       White  4/1/2000        5550
2         Alameda       White  4/1/2000        5573
3         Alameda       White  4/1/2000        5632
4         Alameda       White  4/1/2000        5884
...           ...         ...       ...         ...
499844       Yuba  Multi-Race  4/1/2010           0
499845       Yuba  Multi-Race  4/1/2010           0
499846       Yuba  Multi-Race  4/1/2010           1
499847       Yuba  Multi-Race  4/1/2010           0
499848       Yuba  Multi-Race  4/1/2010           0

[492072 rows x 4 columns]

In [5]:
pop_2010_long['year'] = pd.to_datetime(pop_2010_long.year)
pop_2010_long.year = pop_2010_long.year.dt.year
pop_2010_long = pop_2010_long.groupby(['CountyName', 'RaceName', 'year']).population.sum().reset_index()
pop_2010_long

     CountyName         RaceName  year  population
0       Alameda  American Indian  2000       10808
1       Alameda  American Indian  2001        5145
2       Alameda  American Indian  2002        4937
3       Alameda  American Indian  2003        4774
4       Alameda  American Indian  2004        4633
...         ...              ...   ...         ...
4461       Yuba            White  2006       42714
4462       Yuba            White  2007       42991
4463       Yuba            White  2008       43201
4464       Yuba            White  2009       42833
4465       Yuba            White  2010       42556

[4466 rows x 4 columns]

In [6]:
pop_2010_long.RaceName.unique()

array(['American Indian', 'Asian', 'Black', 'Hispanic', 'Multi-Race',
       'Pacific Islander', 'White'], dtype=object)

In [7]:
pop_2020 = pop_2020[['County Name', 'Race Name', 'year', 'Total Pop']]
pop_2020.columns = ['CountyName', 'RaceName', 'year', 'population']
pop_2020.CountyName = pop_2020.CountyName.str.replace(' County', '')

In [8]:
pop_2020 = pop_2020.groupby(['CountyName', 'RaceName', 'year']).population.sum().reset_index()
pop_2020

,CountyName,RaceName,year,population
0,Orange,"American Indian or Alaska Native, Non-Hispanic",2010,6316
1,Orange,"American Indian or Alaska Native, Non-Hispanic",2011,6502
2,Orange,"American Indian or Alaska Native, Non-Hispanic",2012,6684
3,Orange,"American Indian or Alaska Native, Non-Hispanic",2013,6871
4,Orange,"American Indian or Alaska Native, Non-Hispanic",2014,7151
...,...,...,...,...
10348,Yuba,"White, Non-Hispanic",2056,47069
10349,Yuba,"White, Non-Hispanic",2057,47121
10350,Yuba,"White, Non-Hispanic",2058,47296
10351,Yuba,"White, Non-Hispanic",2059,47454
10352,Yuba,"White, Non-Hispanic",2060,47546

In [9]:
pop_2020.RaceName = pop_2020.RaceName.str.replace(', Non-Hispanic', '')
pop_2020.RaceName = pop_2020.RaceName.str.replace('American Indian or Alaska Native', 'American Indian')
pop_2020.RaceName = pop_2020.RaceName.str.replace('Hispanic \(any race\)', 'Hispanic')
pop_2020.RaceName = pop_2020.RaceName.str.replace('Native Hawaiian or Pacific Islander', 'Pacific Islander')
pop_2020.RaceName = pop_2020.RaceName.str.replace('Multiracial \(two or more of above races\)', 'Multi-Race')
pop_2020.RaceName.unique()

<ipython-input-9-b598783ce459>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  pop_2020.RaceName = pop_2020.RaceName.str.replace('Hispanic \(any race\)', 'Hispanic')
<ipython-input-9-b598783ce459>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  pop_2020.RaceName = pop_2020.RaceName.str.replace('Multiracial \(two or more of above races\)', 'Multi-Race')

array(['American Indian', 'Asian', 'Black', 'Hispanic', 'Multi-Race',
       'Pacific Islander', 'White'], dtype=object)

In [10]:
pop_data_all_years = pop_2010_long.append(pop_2020)

In [11]:
pop_data_all_years.RaceName.unique()

array(['American Indian', 'Asian', 'Black', 'Hispanic', 'Multi-Race',
       'Pacific Islander', 'White'], dtype=object)

In [12]:
sf_pop_data = pop_data_all_years.loc[(pop_data_all_years['CountyName'] == 'San Francisco') & (pop_data_all_years['year'] <= 2021)]

In [13]:
sf_pop_data.to_csv('sf_pop_data_by_race.csv')

In [14]:
sf_pop_data['total_pop'] = sf_pop_data.groupby(['CountyName', 'year']).population.transform('sum')
sf_pop_data['pop_share'] = (sf_pop_data['population'] / sf_pop_data['total_pop']) * 100

<ipython-input-14-a5527a49e1c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sf_pop_data['total_pop'] = sf_pop_data.groupby(['CountyName', 'year']).population.transform('sum')
<ipython-input-14-a5527a49e1c3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sf_pop_data['pop_share'] = (sf_pop_data['population'] / sf_pop_data['total_pop']) * 100

In [15]:
uof = pd.read_csv('subject_uof_race_by_year.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'subject_uof_race_by_year.csv'

In [ ]:
uof.head()
uof = uof.drop('Unnamed: 0', axis=1)

In [ ]:
uof['SUBJECT RACE'].unique()

In [ ]:
sf_pop_data.RaceName.unique()
sf_pop_data.RaceName = sf_pop_data.RaceName.str.replace('Asian', 'Asian or Pacific Islander')
sf_pop_data.RaceName = sf_pop_data.RaceName.str.replace('Pacific Islander', 'Asian or Pacific Islander')

In [ ]:
sf_pop_data.RaceName.unique()

In [ ]:
sf_uof_by_race = sf_pop_data.merge(uof, left_on=['year', 'RaceName'], right_on=['year', 'SUBJECT RACE'])

In [ ]:
sf_uof_by_race_json = sf_uof_by_race.to_json(orient='records')[1:-1].replace('},{', '} {').replace('} {', '}, {')
sf_uof_by_race_json

In [ ]:
with open('sf_race_uof_and_pop_share.json', 'w') as f:
    json.dump(sf_uof_by_race_json, f)